PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
python-docx==0.8.10
lxml==4.6.1
python-dotenv==0.15.0
pywin32==300
six==1.15.0
pandas==1.1.4
numpy==1.19.4
xpinyin==0.5.7
xlrd==1.2.0
pyinstaller==4.0
